body {
  width: 960px;
  display: inline-block;
}

.main {
  width:750px;
  display: inline;
  margin-top: 0px;
  float: right;
}

div.sidebar {
  position: relative;
  display: inline;
  vertical-align: top;
  margin-top: 20px;
  float: left;
  width: 200px;
  background-color: gray;
}

p#return {
  display: inline-block;
  width: 960px;
  text-align: center;
  padding: auto;
}


